<div class="photo-wrapper">
	<div class="photo">
		<img data-src="holder.js/100px300">		
	</div>
	<div class="photo-details">
		<span class="glyphicon glyphicon-map-marker"></span> Location @ Time
		<span class="pull-right small"><a href="#">That's not me</a></span>
	</div>
</div>