<div class="photo-wrapper">
	<div class="photo">
		<img data-src="holder.js/100px300">		
	</div>
	<div class="photo-details">
		<span class="glyphicon glyphicon-map-marker"></span> Location @ Time
	</div>
</div>