<div class="photo-wrapper">
	<div class="photo">
		<%= image_tag match.photo.photo_url, class: "img-responsive" %>
	</div>
	<div class="photo-details">
		<span class="glyphicon glyphicon-map-marker"></span> Location @ Time
		<span class="pull-right small"><%= link_to match_path(match.id), method: :delete, class: 'delete-this-photo' do %>That's not me<% end %></span>
	</div>
</div>