<br>

<div class="zero-results hidden">
	<p class="lead text-center">No photobombs yet!</p>
	<div class="zero-results-icon center-block">
		<span class="glyphicon glyphicon-picture"></span>	
	</div>
</div>
<h1 class="h4">Recently Found Photobombs</h1>

<% 2.times { %>
	<%= render partial: 'partials/photo' %>
<% } %>

<h1 class="h4">Older Photobombs</h1>

<% 6.times { %>
	<%= render partial: 'partials/photo' %>
<% } %>
