<br>
<h1 class="h4">Recently Found Photobombs</h1>

<% 2.times { %>
	<%= render partial: 'partials/photo' %>
<% } %>

<h1 class="h4">Older Photobombs</h1>

<% 6.times { %>
	<%= render partial: 'partials/photo' %>
<% } %>
